
.chatbox {
  border: 2px soild gray;
  margin: 5px 0;
  padding: 10px;
  background-color: rgb(245, 240, 235);
}

.me .chatbox {
  background-color: rgb(81, 132, 173);
}

.container {
  display: flex;
}

.container.me {
  flex-direction: row-reverse;
}

.btm {
  position: fixed;
  bottom: 10px;

}

.img {
  height: 42px;
}

.label {
  border: 1px solid black;
  padding: 4px;
}

.box{
  background-color: antiquewhite;
  height: 79vh;
  scroll-behavior: inherit;
  /* margin: 0 80px; */
  overflow-y: auto;

}