.chatbox {
  margin: 5px 0;
  border-radius: 15px;
  background-color: rgb(241, 225, 225);
  width: 158px;
  
}

.me .chatbox {
  background-color: rgb(195, 200, 204);
  border-radius: 15px;
}

.container {
  display: flex;
}

.container.me {
  flex-direction: row-reverse;
}

.btm {
  position: fixed;
  bottom: 10px;
  width: 64%;
  margin-left: -36px;
}

.img {
  height: 42px;
  padding: 2px
}

.label {
  border: 1px solid grey;
  padding: 5px;
  border-radius: 7px;
  height: 38px;
  color: grey;
}

.box {    width: 62%;
  /* background-color: antiquewhite; */
  background: rgb(135,133,145);
background: radial-gradient(circle, rgba(135,133,145,1) 3%, rgba(221,215,215,1) 64%, rgba(198,187,187,1) 87%, rgba(255,255,255,1) 100%);
  height: 79vh;
  scroll-behavior: inherit;
  overflow-y: auto;
  text-align: center;
  padding: 15px;

  margin: auto;
}

.chatbox .time {
  background: snow;
  font-size: 10px;
  margin-left: 12px;
}